body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 18px;
}

.nav-link a,
h1,
button {
    font-family: 'Raleway', sans-serif;
}

h1,
button {
    font-weight: 700;
}

h1 {
    font-size: 2.2em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 6%;
}
    #nav-img {
        width: auto;
        height: 90%;
    }
    nav div {
        display: flex;
    }

    #nav-list {
        list-style: none;
        display: flex;
        gap: 50px;
    }
        .nav-link {
            margin-bottom: 0;
        }

            .nav-link a {
                text-decoration: none;
                color: initial;
            }

.section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 3% 6%;
    height: auto;
}
    .section-text {
        margin-top: 4%;
    }

    .section-text h1 {
        line-height: 1.4;
        margin-bottom: 3%;
    }

    .section-text p {
        padding-right: 8%;
    }

    #section-1-img {
        max-width: 50%;
        height: auto;
    }

    #form-section-1 input {
        width: 40%;
        padding: 2% 3%;
        opacity: 50%;
        border-radius: 3px;
        border: 1px solid black;
    }

    #form-section-1 button {
        background-color: hsl(224, 93%, 58%);
        border: 1px solid hsl(224, 93%, 58%);
        color: white;
        border-radius: 3px;
        width: 30%;
        margin-left: 2%;
        padding: 2%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

.background {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 6%;
}
    .background img {
        max-width: 100%;
        height: auto;
    }

.section-2 {
    background-color: rgba(248,248,254,255);
    padding-top: 0;
    padding-bottom: 6%;
}
    .section-2-text h1 {
        margin-top: 0;
    }

    #section-2-img {
        height: 100%;
        max-width: 45%;
        display: block;
        position: relative;
        top: 75px;
    }

    .section-2-text p {
        padding-right: 27%;
        font-size: 0.85em;
    }

    .action {
        display: flex;
        align-items: center;
        border-bottom: 1px solid hsl(170, 45%, 43%);
        width: fit-content;
        padding-bottom: 3px;
    }

    .action:hover {
        border-color: #78e0cd;
    }
        .action a {
            text-decoration: none;
            color: hsl(170, 45%, 43%);
        }

        .action a:hover {
            color: #78e0cd;
        }

        .action-img {
            width: auto;
            height: 100%;
            margin-left: 5px;
            position: relative;
            top: 4px;
        }

    .section-2-quotation {
        background-color: white;
        width: 38%;
        border-radius: 5px;
        margin-top: 7%;
        padding: 3% 5%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .section-2-quotation p {
        margin: 4% 0;
        padding-right: 0;
        line-height: 1.7;
        font-size: 13px;
    }

    .section-2-quotation--identity {
        display: flex;
        align-items: center;
        height: auto;
        line-height: 0.4;
        text-align: left;
    }

    .section-2-quotation--identity img {
        height: 100%;
        width: 30px;
        border-radius: 50%;
        margin-right: 3%;
    }

    #quotation-name {
        margin: 0;
        font-size: 11px;
    }

    #quotation-status {
        font-size: 8px;
    }

.subscribe,
.contact {
    color: hsl(240, 75%, 98%);
    padding: 7% 8% 5% 6%;
}

.subscribe {
    background-color: hsl(238, 22%, 44%);
    display: flex;
    justify-content: space-between;
}
    #subscribe-text {
        width: 42%;
    }
        #subscribe-text h1 {
            margin: 0;
            font-size: 1.7em;
        }

    #form-subscribe {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 15px;
    }
        #form-subscribe input {
            padding: 3%;
            border-radius: 3px;
            border: 1px solid black;
        }

        #form-subscribe button {
            background-color: hsl(224, 93%, 58%);
            border: 1px solid hsl(224, 93%, 58%);
            color: white;
            font-weight: 700;
            border-radius: 3px;
            padding: 3%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            width: 40%;
        }

.contact {
    background-color: hsl(243, 87%, 12%);
}
    .contact img {
        filter: brightness(0%) invert(100%);
    }

    .contact div {
        display: flex;
        justify-content: space-between;
    }
        .contact-join {
            display: flex;
            align-items: center;
        }

        .contact-join img {
            margin-right: 15px;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

            li {
                margin-bottom: 15px;
            }
                li a {
                    text-decoration: none;
                    color: hsl(240, 75%, 98%);
                }

                li a:hover {
                    color: #6b9bfa;
                }

        #contact-social_media {
            display: flex;
            position: relative;
            top: 20px;
            gap: 15px;
        }

            #contact-social_media a {
                    border: 1.5px solid white;
                    border-radius: 50%;
                    box-sizing: border-box;
                    padding: 10px;
                    display: flex;
            }

            #contact-social_media a:hover {
                border-color: #6b9bfa;
            }

                .social_media-img {
                    height: 45px;
                    width: 45px;
                    display: flex;
                    justify-content: center;
                }
                .social_media-img:hover {
                    filter: brightness(0) saturate(100%) invert(49%) sepia(73%) saturate(942%) hue-rotate(199deg) brightness(105%) contrast(92%);
                }

#form-subscribe button:hover,
#form-section-1 button:hover {
    background-color: #6b9bfa;
    border-color: #6b9bfa;
}

.attribution {
    text-align: center;
}
    .attribution a {
        color: hsl(224, 93%, 58%);
    }
    .attribution a:hover {
        color: hsl(170, 45%, 43%);
    }

@media all and (min-width:376px) {
    .background-mobile {
        display: none;
    }
}

@media all and (max-width:375px) {
    body {
        font-size: 13px;
    }

    .background-desktop {
        display: none;
    }

    #nav-img {
        width: 50%;
        height: 100%;
    }

    #nav-list {
        margin: 0;
        gap: 15px;
    }
    
    .section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-1 {
        margin-top: 10%;
        margin-bottom: 15%;
        text-align: center;
    }

    #section-1-img,
    #section-2-img {
        max-width: 100%;
    }

    .section-text p {
        padding: 0;
    }

    .section-1-text h1 {
        font-size: 2em;
    }

    .section-1 p {
        width: 90%;
        margin: 7% auto;
        font-size: 14px;
    }

    #form-section-1 {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #form-section-1 input,
    #form-section-1 button {
        margin: 0;
        padding: 4%;
        width: auto;
    }

    #section-2-img {
        top: 30px;
    }

    .section-2-text {
        margin: 15% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2-text h1 {
        font-size: 1.3em;
        margin-top: 15%;
    }

    .section-2-text p {
        text-align: left;
        font-size: 14px;
    }

    .action {
        margin: 8% 0;
    }

    .section-2-quotation {
        width: 80%;
    }

    #contact-div,
    .subscribe {
        display: flex;
        flex-direction: column;
    }

    .subscribe {
        text-align: center;
        align-items: center;
        padding: 15% 12%;
        font-size: 14px;
    }

    #subscribe-text {
        width: auto;
    }

    #subscribe-text h1 {
        font-size: 1.4em;
    }

    #form-subscribe {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5%;
    }

    #form-subscribe input,
    #form-subscribe button {
        margin: 0;
        padding: 4%;
        width: auto;
    }

    .contact {
        padding: 15% 10%;
        font-size: 15px;
    }

    #contact-div {
        margin-top: 5%;
    }

    #contact-social_media {
        position: initial;
        justify-content: center;
    }
}